// flex
.flex-h {
  display: flex;
  flex-direction: row;
}

.flex-h-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.flex-v-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex1 {
  flex: 1;
}

// h
.flex-h-start {
  justify-content: flex-start;
}

.flex-h-center {
  justify-content: center;
}

.flex-h-end {
  justify-content: flex-end;
}

// v
.flex-v-start {
  align-items: flex-start;
}

.flex-v-center {
  align-items: center;
}

.flex-v-end {
  align-items: flex-end;
}


.flex-v-space-around {
  justify-content: space-around;
}

.flex-v-space-between {
  justify-content: space-between;
}

// parts
.card {
  margin: 5px 5px 5px 5px;
  box-shadow: 1px 1px 5px rgb(100, 100, 100);
}

.horizontal_scroll {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: flex-start;

  white-space: nowrap;
  overflow-y: auto;

  table {
    display: block;
  }
}

// text
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// size
.width--5 {
  width: 5%;
}

.width--10 {
  width: 10%;
}

.width--15 {
  width: 15%;
}

.width--20 {
  width: 20%;
}

.width--25 {
  width: 25%;
}

.width--30 {
  width: 30%;
}

.width--35 {
  width: 35%;
}

.width--40 {
  width: 40%;
}

.width--45 {
  width: 45%;
}

.width--50 {
  width: 50%;
}

.width--55 {
  width: 55%;
}

.width--60 {
  width: 60%;
}

.width--65 {
  width: 65%;
}

.width--70 {
  width: 70%;
}

.width--75 {
  width: 75%;
}

.width--80 {
  width: 80%;
}

.width--85 {
  width: 85%;
}

.width--90 {
  width: 90%;
}

.width--95 {
  width: 95%;
}

.width--100 {
  width: 100%;
}

//
.width-one-half {
  width: 49%;
}

.width-one-third {
  width: 33%;
}

.width-one-quarter {
  width: 24%;
}
