html,body{
    margin:0;
    height: 100%;
}

/* ヘッダー */
#header { 
    background-color: #5c6bc0;
    padding:20px;
}

a.header {
    color: #000000;
    font-style:normal;
    text-decoration: none;
}

.container{
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background-color: #536dfe;
}

/* タイトル */
.title {
    padding:20px 0 5px;
}

/* プロダクト */
.container-products {
    padding:20px 0 0;
}

.product-box{
    text-align:center;
    padding:20px 0;
}

.product-item {
    display:inline-block;
}

a.product-item {
    color: #000000;
    font-style:normal;
    text-decoration: none;
}

a:hover.product-item {
    color: #000000;
    font-style:normal;
    text-decoration: underline;
}

/* アプリケーションアイテム */
.application-item{
    display:inline-block;
    background: #3f51b5;
    width: 300px;
    margin: 10px 5px;
}

a.application-item {
    color: #000000;
    font-style:normal;
    text-decoration: none;
}

a:hoverapplication-item {
    color: #000000;
    font-style:normal;
    text-decoration: underline;
}

/* コンタクト(フッター) */
#footer-space{
    padding-bottom: 150px;
}

.container-contacts {
    background-color: #3f51b5;
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
}

.contact-box{
    float: clear;
}

.contact-item {
    float: clear;
}

a.contact-item {
    color: #000000;
    font-style:normal;
    text-decoration: none;
}

a:hover.contact-item {
    color: #000000;
    font-style:normal;
    text-decoration: underline;
}