$iconSize: 110px;
$breakPoint: 800px;

#products {
  .product {
    padding: 0.5em;
    background-color: #3f51b5;

    // 横幅
    width: 320px;
    @media screen and (max-width: $breakPoint) {
      width: calc(320px - #{$iconSize / 3} - 5px);
    }
    @media screen and (max-width: (320px * 2 - ($iconSize / 3))) {
      &.flex-row-just-wrap__single-column {
        width: 100%;
      }
    }

    // マージン
    margin: 1em;
    @media screen and (max-width: $breakPoint) {
      margin: 0.25em 0.5em;
    }

    // 画像
    img {
      width: $iconSize;
      height: $iconSize;

      min-width: $iconSize;
      min-height: $iconSize;
    }
    @media screen and (max-width: $breakPoint) {
      img {
        width: ($iconSize / 3 * 2);
        height: ($iconSize / 3 * 2);

        min-width: ($iconSize / 3 * 2);
        min-height: ($iconSize / 3 * 2);
      }
    }

    // フォントサイズ
    .name {
      flex: 1;
      font-size: 25px;
      text-align: center;
      overflow-wrap: break-word;
    }
    @media screen and (max-width: $breakPoint) {
      .name {
        flex: 1;
        font-size: 20px;
        text-align: center;
        overflow-wrap: break-word;
      }
    }

    // 装飾
    a {
      color: #000000;

      &:hover {
        color: #1d1e1f;
        text-decoration: none;
      }
    }

    // 内部構造
    .project--flex {
      display: flex;
      flex-direction: column;

      .project--flex--top {
        display: flex;
        flex-direction: row;
        align-items: center;

        .project--flex--description {
          padding-top: 0.5em;
          overflow-wrap: break-word;
        }
      }
    }
  }
}