.title {
  display: block;
  text-align: center;
  font-weight: bold;
}

.products--title {
  display: block;
  text-align: center;
  font-weight: bold;
  margin: 1em;
}

.category {
  display: block;
  text-align: center;
  font-weight: bold;
}