.title {
  display: block;
  text-align: center;
  font-weight: bold;
}

.products--title {
  display: block;
  text-align: center;
  font-weight: bold;
  margin: 1em;

  a {
    &:hover {
      color: black;
    }

    &:visited {
      color: black;
    }

    &:active {
      color: black;
    }
  }
}

.category {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

.info {
  text-align: center;
  margin-bottom: 1em;

  a {
    text-decoration: underline;
    color: black;

    &:hover {
      color: black;
    }

    &:visited {
      color: black;
    }

    &:active {
      color: black;
    }
  }
}