h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3.category {
    font-size: 2em;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3.category {
        font-size: 1.2em;
    }
}