#product {
  margin-bottom: 1em; }
  @media screen and (max-width: 544px) {
    #product img.icon {
      width: 70px;
      height: 70px;
      min-width: 70px;
      min-height: 70px; } }
  @media screen and (min-width: 545px) {
    #product img.icon {
      width: 100px;
      height: 100px;
      min-width: 100px;
      min-height: 100px; } }
  #product #header {
    margin-left: 1em;
    margin-right: 1em; }
  #product table#type {
    margin-top: 1em;
    margin-bottom: 1em; }
    #product table#type td {
      padding-right: 1em; }
      @media screen and (max-width: 544px) {
        #product table#type td {
          padding-left: 0; } }
      @media screen and (min-width: 545px) {
        #product table#type td {
          padding-left: 1em; } }
      #product table#type td:first-child {
        white-space: nowrap; }
      @media screen and (max-width: 544px) {
        #product table#type td:nth-child(2) {
          padding-left: 0;
          padding-right: 0; } }
  #product #description {
    margin: 1em 0;
    padding: 0.5em;
    border: ridge #3f51b5; }

.flex-h {
  display: flex;
  flex-direction: row; }

.flex-v {
  display: flex;
  flex-direction: column; }

photo-slider {
  flex: 1;
  display: flex; }
  @media screen and (max-width: 992px) {
    photo-slider {
      flex-direction: column; } }
  @media screen and (min-width: 993px) {
    photo-slider {
      flex-direction: row; } }
  photo-slider > img {
    flex: 1;
    margin: auto; }
    @media screen and (max-width: 992px) {
      photo-slider > img {
        width: 100%; } }
    @media screen and (min-width: 993px) {
      photo-slider > img {
        height: 408px; } }
  photo-slider .thumbnail {
    display: flex; }
    @media screen and (max-width: 992px) {
      photo-slider .thumbnail {
        height: 100px;
        margin-top: 1em;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden; } }
    @media screen and (min-width: 993px) {
      photo-slider .thumbnail {
        height: 408px;
        margin-left: 1em;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll; } }
    photo-slider .thumbnail > img {
      padding: auto; }
      @media screen and (max-width: 992px) {
        photo-slider .thumbnail > img {
          height: 100px;
          margin: auto 1em auto auto; } }
      @media screen and (min-width: 993px) {
        photo-slider .thumbnail > img {
          margin: auto auto 1em;
          width: 100%; } }
      photo-slider .thumbnail > img:last-child {
        margin: auto auto; }
  @media screen and (max-width: 992px) {
    photo-slider ::-webkit-scrollbar {
      height: 10px; } }
  @media screen and (min-width: 993px) {
    photo-slider ::-webkit-scrollbar {
      width: 10px; } }
  photo-slider ::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); }
  photo-slider ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 50, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3); }

/*# sourceMappingURL=product.css.map */
