$iconSize: 125px;

.title {
  display: block;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
}

#products {

  .product {
    width: 20em;
    height: 10em;
    margin: 1em;
    background-color: #3f51b5;

    img {
      float: left;
      width: $iconSize;
      height: $iconSize;
    }
    .name {
      height: $iconSize;
      line-height: $iconSize;
      font-size: 1.5em;
      text-align: center;
    }

    a {
      color: #000000;

      &:hover {
        color: #1d1e1f;
        text-decoration: none;
      }
    }
  }
}
